span[class^="icon-"].withLabel.thumbnail-button {
  width:100%;
}

span.thumbnail-button {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
    margin: 10px 0 0 0;
    padding: 0.625rem;
    font-family: adobe-clean, Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 0.8125rem;
    line-height: 1rem;
    height: 2.375rem;
    color: #4b4b4b;
    width:100%;
    border: 0.0625rem solid #b9b9b9;
    background-color: #fafafa;
}