/*
 *
 * ADOBE CONFIDENTIAL
 * __________________
 *
 *  Copyright 2014 Adobe Systems Incorporated
 *  All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe Systems Incorporated and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Adobe Systems Incorporated and its
 * suppliers and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe Systems Incorporated.
 */
.cq-projects-Pod.cq-projects-Pod-projectInfo .cq-projects-Pod-title {
  position: absolute;
  right: 14px;
  left: -10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cq-projects-Pod.cq-projects-Pod-projectInfo .foundation-layout-media-bd h4 {
  margin: 0;
}
.cq-projects-Pod.cq-projects-Pod-projectInfo .foundation-layout-media-bd .email {
  word-wrap: break-word;
  color: rgba(0, 0, 0, 0.4);
}
.cq-projects-Pod.cq-projects-Pod-projectInfo .cq-projects-Pod-content .cq-projects-Pod-projectInfo-description {
  margin-top: 0.625rem;
  margin-bottom: 1.5rem;
}
.cq-projects-Pod.cq-projects-Pod-projectInfo .cq-projects-Pod-content .cq-projects-Pod-projectInfo-img {
  width: 42px;
  height: 42px;
}
.cq-projects-Pod.cq-projects-Pod-projectInfo .cq-projects-Pod-content .cq-projects-Pod-projectInfo-bottom {
  color: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0.5rem;
}
