/*
 *
 * ADOBE CONFIDENTIAL
 * __________________
 *
 *  Copyright 2014 Adobe Systems Incorporated
 *  All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe Systems Incorporated and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Adobe Systems Incorporated and its
 * suppliers and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe Systems Incorporated.
 */
.cq-projects-Pod .cq-projects-Pod-content .chart-area {
  border-bottom: 0.0625rem solid #d7d7d7;
  padding: 0 1rem;
  text-align: center;
}
.cq-projects-Pod .cq-projects-Pod-content .taskchart {
  width: 50%;
  height: 9rem;
  float: left;
  text-align: center;
}
.cq-projects-Pod .cq-projects-Pod-content .taskpercent {
  width: 50%;
  display: inline;
}
.cq-projects-Pod .cq-projects-Pod-content .taskpercent h1 {
  line-height: 9rem;
  font-size: 2.5rem;
  font-weight: normal;
}
.cq-projects-Pod .cq-projects-Pod-content .task-data ul li .task-info .badge {
  float: left;
  top: 0.7rem;
  width: 1.5rem;
  height: 1.5rem;
}
.cq-projects-Pod .cq-projects-Pod-content .task-data ul li .task-info h4 {
  top: 6px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: absolute;
  left: 1.5rem;
  right: 1rem;
  margin-right: 0;
}
.cq-projects-Pod .cq-projects-Pod-content .task-data ul li .task-info .overdue {
  background: #fa786e;
}
.cq-projects-Pod .cq-projects-Pod-content .task-data ul li .task-info .active {
  background: #a5cd73;
}
.cq-projects-Pod .cq-projects-Pod-content .task-data ul li .task-info .completed {
  background: #7dafe6;
}
