.cq-clientcontext p.cloud {
    font-family: Tahoma,sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    width: auto;
}

.cq-clientcontext .tagcloud {
    margin: 0;
}

.cq-clientcontext .cloud, .cq-clientcontext .tag {
    color: white;
    line-height: 21px;
    margin-right: 8px;
    display: inline-block;
}

.cq-clientcontext .new {
    font-weight: bold;
}

.cq-clientcontext .tag10 {
    font-size: 28px;
}

.cq-clientcontext .tag5 {

}

.cq-clientcontext .count {
    display: none;
}