.cq-AssetPicker.cq-AssetPicker-iframe {
    border: none;
    height: 100%;
    width: 100%;
}

.cq-AssetPicker.cq-AssetPicker-modal {
    width: auto;
    margin: 0;
    right: 5%;
    bottom: 5%;
}

