.projectcontent .toolbar .icongroup > span {
    margin-left: 0;
}

.task-state {
    margin-left: 10px;
}

.completeDetailsTask {
    margin-right: 0.5rem;
}

.page .projectcontent section.tasktab {
    padding-top: 0px;
    top: 36px;
}

.payloadDetailsTask.button {
    float: right;
    margin-top: 0.375rem;
}

.task-details-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.comment-tab {
    margin: 0 10px 0 10px;
}

.new-comment-container {
    overflow: hidden;
}

.task-comment {
    padding-bottom: 0.8rem;
}

.new-comment-container .task-comment-addnew {
    float: right;
}

.task-details-container .coral-TabPanel-content {
    padding: 0px;
    position: absolute;
    bottom: 0;
    top: 51px;
    left: 0;
    right: 0;
}

.previous-comments-container {
    border-bottom: 1px solid rgb(170, 170, 170);
    padding: 20px 0;
}