.list .card-page .eaem-path-column{
    position:relative;
    float:left;
    width: 32%;
}

.label .info .replicatePreview .foundation-collection-item-title{
margin: 0px;
padding: 10px 55px 2px 0px;
width: 158px;
word-wrap: break-word;
margin-right: -50px;
}

.label .info .replicateProduction .foundation-collection-item-title{
margin: 0px;
padding: 10px 55px 2px 0px;
width: 158px;
word-wrap: break-word;
margin-right: -50px;
}